@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-container">
<h2>Report</h2>

<div class="grid-row">
    <div class="column-quarter">
        <input type="submit" value="Export to excel" class="button" id="btnGenerateReport" onclick="location.href='@Url.Action("GetReport", "Result")'" />
    </div>
</div>

    </div>