<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="ARIESConnectionString" connectionString="Data Source=;User id=;Password=;Initial Catalog=;"/>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-AMP-20140722111731.mdf;Initial Catalog=aspnet-AMP-20140722111731;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="AMPEntities" connectionString="metadata=res://*/Models.AMP.csdl|res://*/Models.AMP.ssdl|res://*/Models.AMP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=initial catalog=;persist security info=True; Integrated Security=SSPI; multipleactiveresultsets=True; application name=EntityFramework&quot;   " providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="StopEmail" value="true"/>
    <add key="BaseURL" value="http://server/AMP"/>
    <add key="ARIESRestServiceUrl" value=""/>
    <add key="DFIDTasksUrl" value=""/>
    <add key="ARIESUrl" value=""/>
    <add key="PersonServiceUrl" value=""/>
    <add key="GeoURL" value=""/>
    <add key="EDRMServiceUrl" value=""/>
    <add key="EDRMUser" value="User"/>
    <add key="IATIWebServiceUrl" value=""/>
    <add key="Mode" value="Live"/>
    <add key="Impersonate" value="ON"/>
    <add key="EnvironmentFlag" value="Beta"/>
    <add key="ReviewsEnabled" value="true"/>
    <add key="FinancialYear" value="2017"/>
    <add key="CreateProjectFolderInVault" value="false"/>
    <add key="ARIESUpdateEnabled" value="false"/>
    <!-- Email settings-->
    <add key="SMTPClient" value=""/>
    <add key="SenderEmail" value="AMPSender@AMPDemo.com"/>
    <add key="TestEmail" value=""/>
    <add key="AMPFeedback" value=""/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime/>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule"/>
    </modules>
    <staticContent>
      <!--<mimeMap fileExtension=".less" mimeType="text/css" />-->
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>