@model AMP.ViewModels.ProjectViewModel
<div class="hide" id="Stage">@Model.ProjectStatic.StageDescription</div>
<div id="PrePipeline" class="CircleWithText">
    <img id="PrePipelineCircle" src="~/Content/Images/StageGreyCircle.png">
    <div>Pre Pipeline</div>
</div>
<div class="LineGrey">
    <img src="~/Content/Images/StageBlueLine.png">
</div>
<div id="Identification" class="CircleWithText">
    <img id="IdentificationCircle" src="~/Content/Images/StageGreyCircle.png">
    <div>Identification</div>
</div>
<div class="LineGrey">
    <img src="~/Content/Images/StageBlueLine.png">
</div>

<div id="AppraisalandDesign" class="CircleWithText">
    <img id="AppraisalandDesignCircle" src="~/Content/Images/StageGreyCircle.png">
    <div>Appraisal and Design</div>
</div>
<div class="LineGrey">
    <img src="~/Content/Images/StageBlueLine.png">
</div>

<div id="Approval" class="CircleWithText">
    <img id="ApprovalCircle" src="~/Content/Images/StageGreyCircle.png">
    <div>Approval</div>
</div>
<div class="LineGrey">
    <img src="~/Content/Images/StageBlueLine.png">
</div>

<div id="Implementation" class="CircleWithText">
    <img id="ImplementationCircle" src="~/Content/Images/StageGreyCircle.png" />
    <div>Implementation</div>
</div>
<div class="LineGrey">
    <img src="~/Content/Images/StageBlueLine.png">
</div>
<div id="Competion" class="CircleWithText">
    <img id="CompletionCircle" src="~/Content/Images/StageGreyCircle.png">
    <div>Completion</div>
</div>
<div class="LineGrey">
    <img src="~/Content/Images/StageBlueLine.png">
</div>

<div id="PostCompletion" class="CircleWithText">
    <img id="PostCompetionCircle" src="~/Content/Images/StageGreyCircle.png">
    <div>Post Completion</div>
</div>    
    @*<div class="LineGrey">
        <img src="~/Content/Images/StageBlueLine.png">
    </div>*@
